:root {
    --white: #ffffff;
    --dark: #171717;
    --primary-font: 'roboto', 'sans-serif';
    --primary: #00b0dc;
    --secondary: #23527c;
    --blueGardient: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
    --gray: #F5F5F5;
}


/*Global*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Box Model*/
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /*1rem = 10px*/
    font-family: 'Krub', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}


/*Tipografia*/

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}


/*Generals*/

.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.primary-btn {
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding: 1.4rem 2.2rem;
    letter-spacing: 1px;
    border-radius: 3px;
    margin: 1rem;
    animation-delay: 2s;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

.primary-btn:hover,
.secondary-btn:hover {
    color: var(--secondary);
    cursor: pointer;
}

.secondary-btn {
    background-color: var(--white);
    color: var(--dark);
    border: 1px solid var(--primary);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding: 1.4rem 2.2rem;
    letter-spacing: 1px;
    border-radius: 3px;
    margin: 1rem;
    animation-delay: 2s;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

.text-blue {
    color: var(--primary);
}


/*Navigation*/

.nav-bg {
    display: flex;
    background-color: transparent;
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    margin: 0;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    z-index: 1030;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
}


/*Apply styles after scroll */

.scrolling-active {
    background-color: var(--white);
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrolling-active .navigation a {
    color: var(--dark);
}

.scrolling-active .logo a {
    color: var(--dark);
}


/*Apply styles after scroll  end*/

.navigation a {
    display: block;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    margin-left: 5rem;
    text-transform: uppercase;
    font-weight:600
    
}

.nav-bg img{
    height: 6rem;
}

.nav-bg a:hover {
    color: var(--primary);
}

.logo {
    padding: .5rem;
    text-align: center;
}


/*HOME*/

.cover {
    background-image: url(../img/cover-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    position: relative;
    margin-bottom: 2rem;
    color: var(--white);
}

.cover-content {
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prof-pic {
    height: 20rem;
    width: 20rem;
}

.cover h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.cover p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
}

.cover a {
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    display: block;
    text-align: center;
    border: 2px;
    border-color: var(--white);
    padding: 1rem;
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
}


/*ABOUT*/

.about img {
    height: 50rem;
}

@media (min-width: 768px) {
    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .about img {
        height: 60rem;
    }
}

.about h2 {
    color: #333333;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.about a {
    text-decoration: none;
}

.about-btns {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .about-btns {
        display: flex;
        flex-direction: row;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .info {
        flex-direction: row;
    }
}

.info-title {
    position: relative;
    margin-right: 1rem;
    padding-bottom: 1px;
    color: #a1a1a1;
    font-weight: bold;
    width: 30%;
}

.info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.info li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1rem;
}


/*SKILLS*/

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .skills {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 3rem;
        padding: 5rem;
    }
}

.skills img {
    height: 10rem;
    width: 10rem;
}

.skills h4 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.skill {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 1rem rgb(0 0 0 / 18%);
    padding: 3rem;
    margin: 1rem;
}

@media (min-width: 768px) {
    .skill {
        width: 20rem;
    }
}


/*EXPERIENCE*/

.resumes {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #333333;
    font-weight: 400;
    overflow: hidden;
}

.job {
    padding: 2rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / 18%);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #333333;
}
@media (min-width: 768px){
    .job{
        display: inline;
    }
}
.experience h3,
h4,
h5 {
    margin: 0;
}

.experience h3 {
    text-align: left;
}

.experience h4 {
    color: var(--primary);
}


/*My contact*/

.contact-card {
    text-align: center;
    box-shadow: rgb(0 0 0 / 70%);
}

@media (min-width:768px) {
    .contact-card {
        width: 50%;
    }
}

.contact-card span {
    color: var(--primary);
    font-size: 3rem;
}

.contact-card h3 {
    margin-bottom: 0;
}

.contact-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .contact-container {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2rem;
    }
}


/*Footer*/

footer {
    background-color: var(--dark);
    margin-bottom: 0;
    color: var(--white);
    text-align: center;
    padding: 2rem;
}


/*Portfolio*/

.portfolio {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .portfolio {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

.portfolio img {
    height: 12rem;
    padding: 1rem;
    margin: 1rem;
}

.project {
    box-shadow: 0 0 1rem rgb(0 0 0 / 18%);
    text-align: center;
    padding: 2rem;
    margin-bottom: .5rem;
}

@media (min-width:768px) {
    .project {
        margin-bottom: 8rem;
    }
}

.project h4 {
    font-size: 1.5rem;
    text-align: center;
}

.project a {
    text-decoration: none;
    display: block;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .project a {
        display: inline;
    }
}